@font-face {
	font-family:cond;
	src: url(fonts/DINPro-Cond.otf);
}
@font-face {
	font-family:condBold;
	src: url(fonts/DINPro-CondBold.otf);
}
@font-face {
	font-family:condLight;
	src: url(fonts/DINPro-CondLight.otf);
}
@font-face {
	font-family:condMedium;
	src: url(fonts/DINPro-CondMedium.otf);
}
body::-webkit-scrollbar{
  display:none;
}

.navbar-toggle {
	background-color: #EBEBEB;
}

.navbar-toggle>.icon-bar {
	background-color: #333333;
}

.navbar-brand>img {
	height: 20px;
}

/*.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	
}*/

.navbar{
	font-family: cond;
	font-size: 16px;
	/*color: black;*/
}
.nav>li>a{
	color: #3c3c3c;
}

#header{
	
	/*display: block;*/
	/*position: fixed;*/
	height: 51px;
	width: 100%;
	/*z-index: 999;*/
}

@media (min-width: 992px) {
	.container {
		width: 892px;
	}
}
@media (min-width: 1024px) {
	.container {
		width: 924px;
	}
}
@media (min-width: 1280px) {
	.container {
		width: 1180px;
	}
}
@media (min-width: 1360px) {
	.container {
		width: 1260px;
	}
}
@media (min-width: 1440px) {
	.container {
		width: 1340px;
	}
}
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}
@media (min-width: 1920px) {
	.container {
		width: 1820px;
	}
}
/*@media (min-width: 2048px) {
	.container {
		width: 1948px;
	}
}*/
@media (min-width: 960px) {
	.nav-center {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}

@media (min-width:768px) {
	hr {
		display: none;
	}
}

/*@media (max-width:767px) {
	.search{
		display: none;
		visibility: hidden;
	}
}*/
@media (max-width:768px) {
	.indicators,.attention{
		/*display: none;*/
		visibility: hidden;
	}
}

	.indicators,.attention{
		/*display: none;*/
		visibility: hidden;
	}

.nav-bg {
	background-color: white;
}

.tree {
	width: 100%;
	
}


.tree>#box {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background-color: red;*/
}

#box>.move {
	position: absolute;
	height: 100%;
	overflow: hidden;
	webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

#box>.move>#bg {
	position: absolute;
	height: 100%;
	width: 100%;
}

#box>.move>#svg {
	position: absolute;
	height: 100%;
	width: 100%;
	/*background-color: royalblue;*/
}
#box>.logo {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 999;
}
#box>.logo>img{
	width: 25%;
}


/*======================================space====================================*/
#space_box>#space{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
}
#space_box>.logo{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#space_box>.logo>img{
	width:25%
}

#space_box{
	width: 100%;
	position: relative;
}



/*==========================================================================================*/
.indicators li{
    width: 8px;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
}

.indicators .active {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: black;
}

.indicators{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    position: absolute;
    /*right: 25px;*/
    z-index: 15;
    height: 100px;
    /*width: 30px;*/
    list-style: none;
    /*background-color: red;*/
}

.attention{
    position: absolute;
    z-index: 15;
    width: 30px;
}
